<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/adminlogin.css')}}"
    />

    <title>Admin Login</title>
  </head>

  <body>
    <div class="main">
    <div class="Login">
      <form action="/admin/login" method="post">
        <input type="text" name="email" placeholder="Enter admin email...." />
        <input type="password" name="password" placeholder="Enter admin password...." />
        <input  id="registerLink" type="submit" />
      </form>
    </div>
</div>
  </body>
</html>
