<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/register.css')}}"
    />

    <title>Register</title>
  </head>

  <body>
    <div class="main">  
    <div class="signup">
    <form action="/register" method="post">
      <input
        type="text"
        name="username"
        placeholder=" Enter Username"
        required
      />
      <input
        type="password"
        name="password"
        placeholder=" Confirm Password.. "
        required

      />
      <input
        type="password"
        name="cnfmpassword"
        placeholder=" Confirm Password.."
        required
      />
      
      <input class ="button"type="submit" />
    </form>
</div>
</div>
  </body>
</html>
